{{#each erros}}
   <h1>{{texto}}</h1>
{{else}}

{{/each}}

<div class="form-add-categoria">
    <h2 >Nova Categoria</h2>
    <form action="/admin/categorias/nova"  method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Nome da categoria">
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" placeholder="Slug da categoria">
        <button type="submit" class="button-criar-categoria">Criar</button>
    </form>
</div>
