<h2>Lista de Categorias</h2>
<hr>
<button><a href="/admin/categorias/add">Nova categoria</a></button>

{{#each categorias}}
    <div>
        <div>
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small>
            <br>
            <small>Data de criação: {{date}}</small>
        </div>
    </div>
{{else}}

{{/each}}

