<nav class="menu-central">
    <h1>News</h1>
    <ul class="menu-central-links">
        <li><a href="/">Home</a></li>
        <li><a href="/categorias">Categorias</a></li>

        {{#if user}}
            <li><a href="/usuarios/logout">Sair</a></li>
            <li><a href="/admin/postagens">Posts</a></li>
            <li><a href="/admin/categorias">Categorias</a></li>
        {{else}}
            <li><a href="/usuarios/login">Login</a></li>
            <li><a href="/usuarios/registro">Resgistrar</a></li>
        {{/if}}
    </ul>
</nav>