<h1 class="titulo-categorias">Categorias</h1>

{{#each categorias}}
    <div class="cont-categorias">
        <br>
        <hr>
        <a href="/categorias/{{slug}}"><h2 class="nome-categorias">{{nome}}</h2></a>
        
    </div>
    
{{else}}

{{/each}}